<% wrap_layout :layout do %>

  <% @class = "articleSingle l-sidebar" %>

	<article itemscope itemprop="blogPost" itemtype="http://schema.org/BlogPosting">
		<div class="container">
			<h1 class="articleHeadline" itemprop="headline"><%= current_article.title %></h1>
			<div class="articleContent" itemprop="articleBody">
				<%= yield %>
			</div>			
		</div>
		<footer class="articleFooter">
			<!-- Share links? -->
			<div class="tagWrapper elementWrapper">
				<span class="metaIntro">Tagged</span>
				<ul class="noList">
				<% current_article.tags.each do |tag| %>
					<li class="metaInfo"><%= link_to tag, tag_path(tag), :rel => "tag", :itemprop => "keywords", :title => "More " + tag + " posts" %></li>
				<% end %>					
				</ul>
			</div>
			<div class="dateWrapper elementWrapper">
				<span class="metaIntro">Written on</span>
				<span class="metaInfo"><time itemprop="datePublished" datetime="<%= current_article.date.strftime('%Y-%m-%dT') %>"><%= current_article.date.strftime('%b %e, %Y') %></time></span>
			</div>
			<div class="geolocationWrapper elementWrapper">
				<span class="metaIntro">While in</span>
				<span class="metaInfo"><%= current_article.data.location %></span>
			</div>
		</footer>
	</article>
<% end %>