<!doctype html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta http-equiv='X-UA-Compatible' content='IE=edge;chrome=1' />
		<meta name='viewport' content='width=device-width, initial-scale=1.0'>
		<title><%= current_page.data.title + ' | ' unless current_page.nil? %> Angelique Weger</title>
		<%= stylesheet_link_tag "goals" %>
		<link href="https://fonts.googleapis.com/css?family=Leckerli+One|Flamenco|Pompiere" rel="stylesheet" type="text/css">
		<%= javascript_include_tag "libs/modernizr" %>
		<%= feed_tag :atom, "/feed.xml", title: "Atom Feed" %>
		<link rel="shortcut icon" type="image/x-icon" href="/favicon.png">
	</head>
	<body class="<%= @class %>" itemscope itemtype="http://schema.org/WebPage">
	<%= partial "partials/ga" %>
		<div class="container siteWrapper">
			<main class="elementWrapper" role="main" itemscope itemtype="http://schema.org/Blog">
				<%= yield %>      
			</main>
		</div> <!-- .container.siteWrapper -->
		<%= partial "partials/footer-goals" %>		

		<%= javascript_include_tag 'libs/jquery' %>
		<%= javascript_include_tag 'libs/jquery.scrollTo' %>
		<script type="text/javascript">
			$(document).ready(function(){
				$('.js-menu-trigger,.js-menu-screen').on('click touchstart',function (e) {
					$('.js-menu,.js-menu-screen').toggleClass('is-visible');
					e.preventDefault();
				});
				$('.scrollLink').click(function() {
					$.scrollTo($('.goals header'), 1000);
				});
				$('.scrollLink').hover(
					function() {
						var $this = $(this); // caching $(this)
						$this.data('initialText', $this.text());
						$this.text('\u25B2  \u25B2  \u25B2');
						$this.wrapInner('<span></span>');
					},
					function() {
						var $this = $(this); // caching $(this)
						$this.text($this.data('initialText'));
					}
				);
			});
		</script>
	</body>
</html>
